<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Cart This</title>

    <!--include jQuery-->
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css'
    />
    <link rel='stylesheet' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <script
      src='https://code.jquery.com/jquery-3.6.0.min.js'
      integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4='
      crossorigin='anonymous'
    ></script>
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'
    ></script>

  </head>

  <style>
    * { color: whitesmoke } .ui-widget-header td { color:darkgreen!important }
  </style>
  <body>
    {{! this is the main html file wrapper for all your views }}
    <header>
      <a href='#' class='logo'>Ecommerce</a>
      <div class='toggle'></div>
      <ul>
        <li><a href='/'>Homepage</a></li>
        <li><a href='/register'>Register</a></li>
        <li><a href='/login'>Login</a></li>
        <li><a href='/products'>My Products</a></li>
        <li><a href='/logout'>Logout</a>
        </li>
      </ul>
    </header>
    <div class='content' style='margin-top:175px'>

      {{! placeholder for where the view will be injected }}
      {{{body}}}
    </div>

    {{! placeholder for where the view will be injected }}
    <script type='text/javascript'>
      window.addEventListener('scroll', function () { var header =
      document.querySelector('header'); header.classList.toggle('sticky',
      window.scrollY > 0); });
    </script>
  </body>
  <script src='/js/frontend.js'></script>
</html>