   <h1>Products</h1>
    <p class="notloggedIn" style="display: none;"> You are not logged in.. </p>

    <div class="isLoggedIn" style="display: none;">

        <form id="productForm">

            <span>Name</span>
            <input type="text" name="productName" required>

            <span>Price</span>
            <input type="text" name="productPrice" required>

            <span>Description</span>
            <input type="text" name="productDescription" required>

            <span>Image</span>
            <input type="text" name="productImage" required>

            <button class="ui-button">Add</button>


        </form>


        <table id="productsTable">

        </table>
    </div>