<h1>Register</h1>

    <form id="registerForm">

        <h3>Email</h3>
        <input type="text" name="registerEmail" required>

        <h3>Password</h3>
        <input type="text" name="registerPassword" required>

        <br>
        <br>
        <button class="ui-button">Register</button>


    </form>
	
	<p class="success" style="display: none;"> Success! </p>
	<p class="error" style="display: none;"> Error.. </p>
